<a href="https://colab.research.google.com/github/rkauraiya1167/walmart-hackathon-2020/blob/master/Walmart_hackathon_2020.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy
import pandas as pd
import notebook

In [3]:
from google.colab import files
files.upload()
nba = pd.read_csv("dataset.csv")

Saving dataset.csv to dataset (2).csv

In [16]:
import pandas as pd
nba
type(nba)
bUnit = nba.at[10, 'Item_id']
bUnit
# nba.get_value(4, 0, takeable = True) 
# nba.head()
# nba.get_value(0, 'Base_Units')

11

In [17]:
nba.describe()

          Item_id  Base_Price  ...       Units4  Base_Revenue_Per_Item
count  300.000000  300.000000  ...   300.000000             300.000000
mean   150.500000   40.063333  ...   726.873333           19263.240000
std     86.746758   11.828456  ...   394.604960           12254.976281
min      1.000000   20.000000  ...    65.000000            1050.000000
25%     75.750000   30.000000  ...   384.250000            8808.500000
50%    150.500000   41.000000  ...   710.500000           17409.000000
75%    225.250000   50.000000  ...  1057.000000           27759.000000
max    300.000000   60.000000  ...  1612.000000           53238.000000

[8 rows x 12 columns]

In [18]:
baserpi = nba['Base_Price'] * nba['Base_Units']
nba['Base_Revenue_Per_Item'] = baserpi

In [19]:
nba

     Item_id  Base_Price  Base_Units  ...  Price4  Units4  Base_Revenue_Per_Item
0          1          54          79  ...      44     137                   4266
1          2          56         803  ...      45    1302                  44968
2          3          48         563  ...      39     923                  27024
3          4          49          65  ...      40      87                   3185
4          5          22         497  ...      18     862                  10934
..       ...         ...         ...  ...     ...     ...                    ...
295      296          43         493  ...      35     708                  21199
296      297          41         502  ...      33     831                  20582
297      298          38         748  ...      31     920                  28424
298      299          33         285  ...      27     407                   9405
299      300          29         674  ...      24    1019                  19546

[300 rows x 12 columns]

In [20]:
Base_Revenue = nba['Base_Revenue_Per_Item'].sum()

In [21]:
Base_Revenue

5778972

In [22]:
Total_Base_Units = nba['Base_Units'].sum()

In [23]:
Total_Base_Units

144328

In [24]:
x = 0.10
y = 0.25

Erevenue = Base_Revenue * (1 + x);
Equantity = Total_Base_Units * (1 + y);

In [25]:
i = nba[nba['Item_id']==300]
print(i['Base_Price'])

299    29
Name: Base_Price, dtype: int64

In [26]:
import math
er = math.floor(Erevenue)
eq = math.floor(Equantity)
index = 299

key = str(index) +"_" + str(er) + "_" + str(eq)
key

'299_6356869_180410'

In [29]:
#HashMap<String, bool> var = new HashMap<String, bool>()

import pprint
import array
import numpy
dp = {}
def solve(er,eq,index):
  if index < 0:
    return False
  key = str(index) +"_" + str(er) + "_" + str(eq)
  if er<0 and eq<0:
    dp[key] = True
    return dp[key]
  if key in dp.keys(): 
    return dp[key]
  i = nba[nba['Item_id']==index]
  #print(i['Base_Price'])
  bp = nba.at[index, 'Base_Price'] 
  bq = nba.at[index, 'Base_Units'] 
  p1 = nba.at[index, 'Price1']
  q1 = nba.at[index, 'Units1'] 
  p2 = nba.at[index, 'Price2'] 
  q2 = nba.at[index, 'Units2'] 
  p3 = nba.at[index, 'Price3'] 
  q3 = nba.at[index, 'Units3'] 
  p4 = nba.at[index, 'Price4'] 
  q4 = nba.at[index, 'Units4'] 
  bp
  dp[key] = solve(er- bp*bq,eq-bq,index-1) or solve(er- p1*q1,eq-q1,index-1) or solve(er- p2*q2,eq-q2,index-1) or solve(er- p3*q3,eq-q3,index-1) or solve(er- p4*q4,eq-q4,index-1)
            # solve(er- p1*q1,eq-q1,n-1) or
            # solve(er- p2*q2,eq-q2,n-1) or
            # solve(er- p3*q3,eq-q3,n-1) or
            # solve(er- p4*q4,eq-q4,n-1)
  return dp[key]
solve(er, eq, 5)

False

In [ ]:
i = nba[nba['Item_id']==299]
print(i['Base_Price'])

298    33
Name: Base_Price, dtype: int64

In [37]:
import array
import numpy 
index = 299
# ans = array.array('i')
size = 300
ans = [0] * size
def backtrack(index,er,eq):
  i = nba[nba['Item_id']==index]
  print(i['Base_Price'])
 # nba.at[index, 'Base_Price'] 
  bp = nba.at[index, 'Base_Price'] 
  bq = nba.at[index, 'Base_Units'] 
  p1 = nba.at[index, 'Price1']
  q1 = nba.at[index, 'Units1'] 
  p2 = nba.at[index, 'Price2'] 
  q2 = nba.at[index, 'Units2'] 
  p3 = nba.at[index, 'Price3'] 
  q3 = nba.at[index, 'Units3'] 
  p4 = nba.at[index, 'Price4'] 
  q4 = nba.at[index, 'Units4'] 
  print(bp)
  print(bq)
  print(p1)
  print(p2)
  print(p3)
  print(p4)
  print(q1)
  print(q2)
  print(q3)
  print(q4)
  key1 = str(index) +"_" + str(er - p1*q1) + "_" + str(eq - q1)
  key2 = str(index) +"_" + str(er - p2*q2) + "_" + str(eq - q2)
  key3 = str(index) +"_" + str(er - p3*q3) + "_" + str(eq - q3)
  key4 = str(index) +"_" + str(er - p4*q4) + "_" + str(eq - q4)
  key5 = str(index) +"_" + str(er - bp*bq) + "_" + str(eq - bq)
  if key1 in dp and dp[key1]:
    ans[i] = 1;
    backtrack(index-1, er - p1*q1, eq-q1)
  elif key2 in dp and dp[key2]:
    ans[i] = 2;
    backtrack(index-1, er - p2*q2, eq-q2)
  elif key3 in dp and dp[key3]:
    ans[i] = 3
    backtrack(index-1, er - p3*q3, eq-q3)
  elif key4 in dp and dp[key4]:
    ans[i] = 4;
    backtrack(index-1,er - p4*q4,eq-q4)
  elif key5 in dp and dp[key5]:
    backtrack(index-1,er - bp*bq,eq-bq)
  return

In [38]:
solve(1000, 1000, 10)
backtrack(10, 1000, 1000)

# for i in range (0, 299): 
#     print (ans[i], end =" ") 
# print()

9    32
Name: Base_Price, dtype: int64
34
244
33
31
29
28
292
339
387
434